.filterContainer { 
    padding: 1.5rem;     
    
    h3 {
        font-size: 1rem;
        font-weight: 600;
        padding-bottom: .5rem;
        color: rgb(119, 72, 14);
    }

    h3,   
    button,
    label {
        padding-left: .4rem;
    }
    
    label,
    button {
        height: 1.8rem;       
        font-size: .9rem;
        font-weight: 350;   
    }

    button {
        cursor: pointer;
        border: none;
        text-align: start;
        width: 100%;         
    }

    label:hover {
        .checkmark {
            border-color: rgb(128, 126, 126);
        }
    }

    button:hover {
        background-color: rgb(245, 237, 226);
    }

    button:focus {
        background-color: rgb(243, 229, 208);
    }
}

.active {
     background-color: rgb(243, 229, 208);
     color: rgb(245, 64, 64);
}

.inactive {
    background-color: transparent;    
}

.section {
    padding-bottom: 1.5rem;
}

.inputsContainer {
    display: grid;  
}

.inputWrapper {
    position: relative;   
    padding-left: 1.5rem;  
    cursor: pointer;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.inputWrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.inputWrapper label {
    display: flex;
    align-items: center;  
    text-align: center;   
}

.checkmark {
    position: absolute;
    top: 50%;
    left: .4rem; 
    transform: translateY(-50%);   
    height: .9rem;
    width: .9rem;
    border: solid 1px rgb(182, 179, 179);
}

.inputWrapper:hover {
    color: black;

    .checkmark {
        border-color: rgb(128, 126, 126);
    }
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.inputWrapper input:checked ~ .checkmark:after {
    display: block;
}

.inputWrapper .checkmark:after {
    left: 4px;
    top: 1px;
    width: 4px;
    height: 9px;
    border: solid rgb(24, 23, 23);
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.inputWrapper:hover {
    color: black;
}

@media (max-width: 768px) {
    .filterContainer {
        display: none;
    }   
}





 

  

