.section {
    height: 100vh;
    max-width: 1400px;
    margin: auto;    
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 8rem;
    gap: 4rem; 
    font-size: .9rem;
}

.imageWrapper {
    position: relative;
    justify-self: end;
    width: 90%;   
    height: 0;
    padding-bottom: 140%;     
}

.imageWrapper img {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;     
}

.productInfoWrapper h2 {
    font-size: 2rem;
    color: rgb(131, 86, 3);
    margin-bottom: .5rem;
    border-bottom: solid 1px  rgb(201, 144, 92, 0.4);
}

.productInfoWrapper .weight {
    font-size: .8rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.productInfoWrapper .price {
    font-size: 1.3rem;
    margin-bottom: 5rem;
   
}

.productInfoWrapper .description {    
    margin-bottom: .5rem;
}

.productInfoWrapper .type { 
    font-size: .8rem;
    font-weight: 300;    
    margin-bottom: 2rem;
}

.productInfoWrapper .type span {
    font-size: .9rem;     
    font-weight: 700;
}

.addToCartContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: fit-content;
    gap: .5rem;
}

.addToCartContainer .button {
    cursor: pointer;
    background-color: rgb(201, 144, 92);
    color: white;
    border: solid 1px rgb(182, 135, 49);
}

.addToCartContainer .button:hover {   
    background-color: transparent;
    color: rgb(182, 135, 49);
    border: solid 1px rgb(182, 135, 49);
}

.continueShoppingButton {
    display: grid;
    cursor: pointer;  
    background: none;
    border: none;
    font-size: .9rem;
    text-decoration: underline;
    padding: 1rem 0;
    color: rgb(94, 93, 93);
}