.section {
    position: relative;
    align-content: center;  
    min-height: calc(100vh - 5rem);      
}

.backgroundImageContainer {
    position: absolute;    
    top: -5rem;    
    height: calc(100% + 5rem);
    width: 100%;
    z-index: -1;

    img {
       width: 100%;
       height: 100%;
       object-fit: cover;
    }
}

.backgroundImageContainer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.9) 100%);
    pointer-events: none;
}

.infoContainer {      
    color: white;
    max-width: 40%;
    padding-left: 6rem;   

    h1 {
        font-size: 3rem;
        padding-bottom: 2rem;
    }

    p {
        font-size: 1.5rem;
        padding-bottom: 3rem;
    }  
}

.button {
    cursor: pointer;
    border: none;
    font-size: 1rem;
    color: white;
    padding: 1rem 2rem;
    background-color: rgb(68, 41, 9);
}