.card {
    display: flex;
    flex-direction: column;
    animation: opacity .3s; 
}

.card div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    font-size: .9rem;
    padding-top: .5rem;        
}

.imageContainer {   
    background-color: rgb(250, 246, 240); 
    position: relative;
    height: 0;
    width: 100%; 
    padding-bottom: 150%;
    overflow: hidden;     
}

.imageContainer img {
    position: absolute;
    top: 0;
    left: 0;       
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card p {
    color: rgb(0, 0, 0);
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}