.mainContainer {    
    display: grid;
    grid-template-columns: 15rem auto;
    min-height: calc(100vh - 5rem); 
    max-width: 1400px;
    margin: auto;
}

@media (max-width: 768px) {
    .mainContainer {
        grid-template-columns: 1fr;
    }   
}
