.mainContainer {    
    display: grid;
    grid-template-columns: 15rem auto;
    max-width: 1200px;
    margin: auto;
}

@media (max-width: 768px) {
    .mainContainer {
        grid-template-columns: 1fr;
    }   
}
