.section {
    position: relative;
    height: 100%;
}

.cardsContainer {   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;   
    padding: 1.5rem;       
}

@media (max-width: 1200px) {
    .cardsContainer {    
        display: grid;
        grid-template-columns: repeat(4, 1fr);            
    }
}

@media (max-width: 991px) {
    .cardsContainer {    
        display: grid;
        grid-template-columns: repeat(3, 1fr);            
    }
}

@media screen and (max-width: 768px) {
    .cardsContainer {    
        display: grid;
        grid-template-columns: repeat(3, 1fr);            
    }
}

@media (max-width: 600px) {
    .cardsContainer {    
        display: grid;
        grid-template-columns: repeat(2, 1fr);            
    }
}
