.header a {
    text-decoration: none;      
} 

.header {  
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;  
    align-items: center;
    height: 5rem;   
    z-index: 10;  
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    padding: 0 1.5rem;    

    img {
        width: 3rem;
    }
}

.whiteTextAndIcon {   
    a {
        color: white;
    }

    a:before {
        background-color: white;
    }

    .header {
        background-color: white;
    }   
}

.blackTextAndIcon {   
    a {
        color: black;
    }

    a:before {
        background-color: black;
    }

    .header {
        background-color: black;
    }   
}

.blackBackground {
    background-color: rgba(0, 0, 0, 0.6);
}

.whiteBackground {
    background-color: white;
}