.navbar {   
    ul {
        display: flex;
        gap: 3rem;
        list-style-type: none;         
    }

    a {
        text-decoration: none;      
    }   
}

.white {
    a {
        color: white;
    }
}

.black {
    a {
        color: black;
    }
}