.menuButton {   
    cursor: pointer;
    border: none;
    background: none;
    display: none;
}

.nav {
    position: absolute;
    top: 5rem;
    right: 0;
    width: 10rem;
    animation: opacity .6s; 
}

.nav ul {
    list-style-type: none;
}

.nav ul li {
    display: flex; 
    padding: .5rem;
}

.nav a {
    width: 100%;
    text-align: center;
}

.nav a:hover {
    color: rgb(226, 160, 60);

}

.whiteBackground {
    background-color: rgb(255, 255, 255);
}

.blackBackground {
    background-color: rgba(0, 0, 0, 0.6);
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .menuButton {
       display: block;
    }   
}

